.product {
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  padding: 2rem;
}

.product-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-1-img {
  display: flex;
  margin: 0;
} 

.col-1-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container button {
  margin: 1rem 0 1rem 2rem;
  padding: 1rem;
  font-size: large;
  font-weight: 600;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: solid 3px #8b5127;;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
}

.button-container button:hover {
  box-shadow: 0 4.5px 6px 0 rgba(0, 0, 0, 0.6);
}

.getquote {
  background: transparent;
  color: rgba(139, 81, 39);
}

.getquote:hover {
  background-color: rgba(139, 81, 39, 0.9);
  color: white;
}

.seethisinmyroom {
  background-color: rgba(139, 81, 39, 0.9);
  color: white;
}

.seethisinmyroom:hover {
  background: transparent;
  color: rgba(139, 81, 39);
}

.col-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.col-2 h1 {
  margin: 0;
  margin-bottom: 1.5rem;
}

.col-2 h5 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: medium;
}

.col-2 h3 {
  margin: 0;
}

.col-2 li {
  margin: 0.25rem;
  font-size: medium;
  font-weight: 500;
}

@media screen and (max-width: 1010px) {
  .col-2 h1 {
    margin-bottom: 1rem;
    font-size: x-large;
  }
  
  .col-2 h5 {
    margin-bottom: 0.75rem;
    font-size: smaller;
  }
  
  .col-2 h3 {
    margin: 0;
    font-size: medium;
  }
  
  .col-2 li {
    margin: 0.25rem;
    font-size: smaller;
    font-weight: 500;
  }
}

@media screen and (max-width: 780px) {
  .product-container {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .button-container button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: medium;
    border-radius: 10px;
    border: solid 3px #8b5127;;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  }
  .product-container {
    gap: 2rem;
  }
}

.navbar {
  background-color: #8b5127;
}