.Hero {
  color: white;
  padding: 6rem 2rem 12rem;
  box-sizing: border-box;
  background-color: peru;
  background-image: url(../assets/Hero.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.Hero-container {
  margin: 2rem;
}

.Hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.Hero-text-container h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0;
}

.Hero-text-container p {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.Hero-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

[class^="btn-"]  {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  box-sizing: content-box;
  margin-right: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-contact {
  color: black;
  background-color: rgba(240, 255, 255, 0.8);
}

.btn-contact:hover {
  background-color: rgba(211, 220, 220, 0.85);
}

.btn-gallery {
  color: white;
  background-color: rgba(139, 81, 39, 0.9);
}

.btn-gallery:hover {
  background-color: rgba(122, 71, 34, 0.9);
}

[class^="btn-"]:hover  {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 550px) {
  .Hero-text-container h1{
    font-size: 2rem;
  }

  .Hero-text-container p{
    font-size: 0.75rem;
  }

  [class^="btn-"] {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 380px) {
  .Hero {
    padding: 4rem 1.5rem 10rem;
  }

  .Hero-text-container h1{
    font-size: 1.75rem;
  }

  .Hero-text-container p{
    font-size: 0.7f5rem;
  }
}