.fade-in {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.testimonials {
  background-color: white;
  padding: 6rem 10rem;
}

.testimonials-container{
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: rgb(0, 0, 0);
  margin: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  background: transparent;
  border: none  ;
}

.button:hover {
  color: rgb(120, 120, 120);
  cursor: pointer;
  transition: ease-in 0.2s;
}

.testimonials-text-container{
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.testimonials-text-container p{
  margin: 0;
  align-self: center;
  line-height: 135%;
  font-size: 1.2rem;
}

.testimonial-person {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.testimonial-pfp-container {
  margin-right: 0.75rem;
}

.testimonial-pfp {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.testimonial-person h4{
  margin: 1rem 0;
  font-weight: 600;
  font-family: "Lexend Deca", sans-serif;
}

.button-mobile {
  display: flex;
  flex-direction: row;
}

/* Responsive design */

.button.mobile {
  display: none;
}

@media screen and (max-width: 956px) {
  .testimonials {
    padding: 4rem 6rem;
  }  

  .testimonials-text-container p{
    font-size: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .testimonials {
    padding: 4rem 2rem;
  }  

  .testimonials-text-container p{
    font-size: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .testimonials {
    padding: 4rem 2rem;
  } 

  .testimonials-container {
    flex-direction: column;
  }

  .button.desktop {
    display: none;
  }

  .button.mobile {
    display: block;
  }


  .testimonials-text-container p{
    font-size: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .testimonials {
    padding: 6rem 1rem 2rem;
  } 

  .button {
    font-size: 1.5rem;
  }
}